@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
  list-style: none;
}

li {
  list-style: none;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000;
  --color-dark-alt: #292a32;
  --color-light: #fff;
  --color-accent: #00b6cc;
  --color-gray: #f3f3f3;
  --color-gray-alt: #898989;
  --border: 1px solid var(--color-dark);
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 50px;
  --input-height: 40px;
  --button-height: 50px;
  --transition-duration: 0.5s;
  --header-height: 100px;
}
@media (max-width: 1279px) {
  :root {
    --section-padding-y: 40px;
    --header-height: 80px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
    --header-height: 60px;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}
body:has(.header__menu.active) {
  overflow: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: clamp(40px, 3.8888888889vw, 56px);
}

h2 {
  font-size: clamp(34px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(18px, 1.5277777778vw, 22px);
}

p {
  font-size: clamp(14px, 1.25vw, 18px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.accent-color {
  color: var(--color-accent);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: var(--border);
  border-color: var(--color-accent);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
.button-transparent {
  color: var(--color-accent);
  border-color: var(--color-accent);
  background-color: transparent;
}

.black-bg {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 5px 10px;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
}
.burger__stick {
  width: 30px;
  height: 2px;
  background-color: var(--color-accent);
}
.burger.active {
  position: relative;
  padding: 10px 0;
}
.burger.active .burger__stick_top {
  position: absolute;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.burger.active .burger__stick_middle {
  display: none;
}
.burger.active .burger__stick_bottom {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-accent);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
.header__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__wrapper {
    column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 120px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1279px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: absolute;
    top: calc(var(--header-height) - 17px);
    left: -100%;
    z-index: 100;
    background-color: aqua;
  }
  .header__menu.active {
    left: 0;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1279px) {
  .header__menu-list {
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition-duration: inherit;
}
@media (max-width: 767px) {
  .header__menu-link {
    color: var(--color-light);
    font-size: 22px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .header__menu-link:hover::after {
    width: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .header__menu-link:active::after {
    width: 0;
  }
}
.header__button {
  height: 48px;
  padding-inline: 35px;
  font-size: 20px;
}
@media (max-width: 1279px) {
  .header__button {
    height: 34px;
    font-size: 16px;
    padding-inline: 18px;
  }
}

.hero__area {
  /* background: #4e54c8; */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
.hero__circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.2); */
  background: var(--color-accent);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.hero__circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.hero__circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.hero__circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.hero__circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.hero__circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.hero__circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.hero__circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.hero__circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.hero__circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.hero__circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  padding-top: var(--header-height);
}
@media (max-width: 767px) {
  .hero {
    min-height: calc(90vh - var(--header-height));
  }
}
.hero__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 50px;
}
@media (max-width: 767px) {
  .hero__wrapper {
    padding: 100px 15px 50px;
  }
}
.hero__title {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .hero__title {
    text-align: center;
  }
}
.hero_description {
  margin-bottom: 60px;
  text-align: center;
}
.hero__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  margin-bottom: 50px;
  margin-bottom: 150px;
}
.hero__button img {
  width: 18px;
}
@media (hover: hover) {
  .hero__button:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .hero__button:active {
    transform: scale(1.1);
  }
}
.hero__partners__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__partners__image {
  width: 150px;
}
@media (max-width: 767px) {
  .hero__partners__image {
    width: 100px;
  }
}

.services {
  padding-block: var(--section-padding-y);
}
.services__header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .services__header {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .services__title {
    width: 100%;
    text-align: center;
  }
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}
@media (max-width: 1279px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (max-width: 1023px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .services__list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.services__banner {
  color: var(--color-light);
  background-color: var(--color-accent);
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 20px;
}
.services__banner-title {
  margin-bottom: 20px;
}
.services__banner-text {
  margin-bottom: 20px;
}
.services__banner-form {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .services__banner-form {
    flex-direction: column;
  }
}
.services__banner-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
}
.services__banner-input::placeholder {
  color: var(--color-accent);
  opacity: 0.7;
}
.services__banner-input:focus {
  outline: none;
}
@media (max-width: 767px) {
  .services__banner-input {
    width: 100%;
  }
}
.services__banner-button {
  height: 40px;
  background-color: var(--color-light);
  color: var(--color-accent);
  border: none;
  padding-inline: 20px;
}
@media (hover: hover) {
  .services__banner-button:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .services__banner-button:active {
    transform: scale(1.1);
  }
}
@media (max-width: 767px) {
  .services__banner-button {
    width: 100%;
  }
}
.services__banner-image {
  width: 150px;
  height: auto;
}

.service-card {
  min-height: 510px;
  border: var(--border);
  border-color: var(--color-accent);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .service-card {
    max-width: 320px;
  }
}
.service-card__image {
  width: 100%;
  height: 200px;
  border: var(--border);
  border-color: var(--color-accent);
  border-bottom: none;
}
.service-card__title {
  border: var(--border);
  border-color: var(--color-accent);
  border-top: none;
  margin-bottom: 30px;
  text-align: center;
}
.service-card__text {
  text-align: center;
  margin-bottom: 30px;
}
.service-card__footer {
  text-align: center;
}
.service-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: var(--border);
  border-color: var(--color-accent);
  padding: 10px 0;
}
@media (hover: hover) {
  .service-card__link:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .service-card__link:active {
    transform: scale(1.1);
  }
}

.about {
  padding-block: var(--section-padding-y);
}
.about__header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .about__header {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .about__title {
    width: 100%;
    text-align: center;
  }
}

.steps__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  counter-reset: custom-counter;
  list-style: none;
}
@media (max-width: 767px) {
  .steps__list {
    row-gap: 20px;
  }
}
.steps__item {
  --counterContent: counter(custom-counter);
  counter-increment: custom-counter;
}
.steps__item:nth-child(-n+9) {
  --counterContent: "0" counter(custom-counter);
}
.steps__accordion {
  --indicatorVerticalRotate: 90deg;
  padding: 20px 30px;
  border: var(--border);
  border-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .steps__accordion:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .steps__accordion:active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (max-width: 767px) {
  .steps__accordion {
    padding: 10px;
  }
}
.steps__accordion[open] {
  --indicatorVerticalRotate: 0deg;
  color: var(--color-light);
  background-color: var(--color-accent);
}
.steps__accordion-header {
  display: flex;
  align-items: center;
  column-gap: 50px;
  cursor: pointer;
  user-select: none;
}
.steps__accordion-header::-webkit-details-marker {
  display: none;
}
@media (max-width: 767px) {
  .steps__accordion-header {
    column-gap: 10px;
  }
}
.steps__accordion-title {
  font-size: clamp(14px, 2.0833333333vw, 30px);
  display: flex;
  align-items: center;
  column-gap: 25px;
}
@media (max-width: 767px) {
  .steps__accordion-title {
    column-gap: 20px;
  }
}
.steps__accordion-title::before {
  content: var(--counterContent);
  font-size: 2em;
}
@media (max-width: 767px) {
  .steps__accordion-title::before {
    font-size: 30px;
  }
}
.steps__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  flex-shrink: 0;
  position: relative;
  background-color: var(--color-accent);
  border: 2px solid var(--color-light);
  border-radius: 50%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .steps__accordion-indicator {
    width: 30px;
  }
}
.steps__accordion-indicator::before, .steps__accordion-indicator::after {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 45%;
  height: 10%;
  background-color: var(--color-light);
}
.steps__accordion-indicator::before {
  rotate: var(--indicatorVerticalRotate);
  transition-duration: var(--transition-duration);
}
.steps__accordion-body {
  margin-top: 30px;
  padding-top: 30px;
  border-top: var(--border);
  border-color: var(--color-light);
  line-height: 1.4;
}

.contacts {
  padding-block: var(--section-padding-y);
}
.contacts__header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .contacts__header {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .contacts__title {
    width: 100%;
    text-align: center;
  }
}
.contacts__body {
  padding: 60px 100px;
  background-color: var(--color-gray);
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .contacts__body {
    padding: 30px 50px;
  }
}
.contacts__body::after {
  --contactUsOffsetY: 62px;
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 100%;
  aspect-ratio: 1;
  background: url("./images/form-bg.svg") center/contain no-repeat;
}
@media (max-width: 1023px) {
  .contacts__body::after {
    display: none;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (min-width: 1024px) {
  .contacts__form {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .contacts__form {
    row-gap: 10px;
  }
}
@media (max-width: 767px) {
  .contacts__form {
    row-gap: 10px;
  }
}
@media (max-width: 767px) {
  .contacts__form-button {
    font-size: 14px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}
.field__label {
  font-size: clamp(14px, 1.25vw, 18px);
}
.field__input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 30px;
  border: 1px solid var(--color-accent);
}
@media (max-width: 767px) {
  .field__input {
    padding-inline: 10px;
  }
}
@media (max-width: 1023px) {
  .field__input::placeholder {
    font-size: 14px;
  }
}
.field__input:focus {
  outline: none;
}
.field__input--textarea {
  height: 190px;
  padding-block: 18px;
  resize: none;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .field__input--textarea {
    margin-bottom: 10px;
    height: 100px;
  }
}

.footer {
  background-color: var(--color-accent);
  padding-block: var(--section-padding-y);
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light);
  padding-bottom: 20px;
}
@media (max-width: 599px) {
  .footer__inner {
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer__contacts {
  color: var(--color-light);
  font-weight: 700;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 599px) {
  .footer__contacts-list {
    align-items: center;
  }
}
.footer__banner-form {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .footer__banner-form {
    flex-direction: column;
    gap: 10px;
  }
}
.footer__banner-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
}
.footer__banner-input::placeholder {
  color: var(--color-black);
  opacity: 0.7;
}
.footer__banner-input:focus {
  outline: none;
}
@media (max-width: 767px) {
  .footer__banner-input {
    width: 100%;
  }
}
.footer__banner-button {
  height: 40px;
  background-color: var(--color-light);
  color: var(--color-accent);
  border: none;
  padding-inline: 20px;
}
@media (hover: hover) {
  .footer__banner-button:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .footer__banner-button:active {
    transform: scale(1.1);
  }
}
@media (max-width: 767px) {
  .footer__banner-button {
    width: 100%;
  }
}
.footer__banner-image {
  width: 150px;
  height: auto;
}
.footer__copytight {
  padding-top: 20px;
  text-align: center;
  color: var(--color-light);
}

/*# sourceMappingURL=index.css.map */
