.about {
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__title {
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }
}
