@import 'hero-area';

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - $heigth-header-xl);
  // padding-top: 20rem;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    @include fluid-text(2, 5);
    font-weight: 700;
    color: #000;
    margin-bottom: 3rem;
  }
  &__subtitle {
    @include fluid-text(1.6, 3);
    text-align: center;
    margin-bottom: 15rem;
  }
  &__link-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 5rem;
    margin-inline: auto;

    p {
      font-size: 2rem;
      color: $main-color;
    }

    img {
      width: 5rem;
      height: 5rem;
      padding: 1rem;
      border: 2px solid $second-color;
      border-radius: 50%;
      fill: $second-color;
      cursor: pointer;
    }
  }
}

@media screen and (width > $breakpoint-lg) {
  .hero {
    &__link-down {
      img {
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media screen and (width < $breakpoint-lg) {
  .hero {
    height: calc(100vh - $heigth-header-lg);
    &__title {
      margin-bottom: 2rem;
    }

    &__subtitle {
      margin-bottom: 10rem;
    }
  }
}

@media screen and (width < $breakpoint-md) {
  .hero {
    height: calc(100vh - $heigth-header-md);
    &__title {
      margin-bottom: 1.4rem;
    }
    &__subtitle {
      // margin-bottom: 5rem;
    }
  }
}
