//colors
$main-color: #444444;
$second-color: #00B6CC;
$white-color: #fff;

//fonts
$font-family: 'Montserrat', sans-serif;

// breakpoints:
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

// heigths:
$heigth-header-md: 50px;
$heigth-header-lg: 70px;
$heigth-header-xl: 85px;